* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
}

html,body {
  height: 100%;
  width: 100%;

}

.parent {
  width: 100%;
  background-color: black;
  padding: 20px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;

}

.card {
  height: 310px;
  width: 250px;
  background-color: beige;
  border-radius: 20px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.top img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid #dadada;
  padding: 2px;

}

.top button {
  display: flex;
  align-items: center;
  border: 1px solid #dadada;
  padding: 3px 6px;
  font-size: 14px;
  border-radius: 5px;
  gap: 3px;
  background-color: rgb(174, 164, 164);
  color: rgb(33, 27, 27);
}

.center h3 {
  font-size: 18px;
  font-weight: 500;
}

.center h3 span {
  font-size: 10px;
  font-weight: 400;
  color: rgb(33, 27, 27);
}

.center h2 {
  font-size: 20px;

}

.center .tag {
  display: flex;
  margin-top: 10px;
  gap: 5px;
}

.center .tag h4 {
  font-size: 13px;
  background-color: rgb(174, 164, 164);
  color: black;
  padding: 3px 6px;
  font-weight: 500;
  border-radius: 3px;
}


.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid rgb(174, 164, 164);
  padding: 10px 0;

}

.bottom button {
  background-color: black;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  column-width: 600;
}

.bottom h3 {
  font-size: 17px;

}

.bottom p {
  font-size: 12px;
  color: rgb(174, 164, 164);
}

